@model IEnumerable<StockPortfolio.Models.Stock>

@{
    ViewData["Title"] = "Index";
    var quoteList = ViewBag.quoteList;
}

<h1>Stock Info</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Symbol)</th>
            <th>@Html.DisplayNameFor(model => model.CompanyName)</th>
            <th>Currency</th>
            <th>Price</th>
            <th>% Change (Day)</th>
            <th>50 Day Average Price</th>
            <th>Volume</th>
            <th>Exchange</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Symbol)</td>
                <td>@Html.DisplayFor(modelItem => item.CompanyName)</td>

                @foreach (var quote in quoteList)
                {
                    if (item.Symbol == quote.Symbol)
                    {
                        <td>@quote.Currency</td>
                        <td>@Math.Round(quote.Price, 2)</td>
                        <td>@Math.Round(quote.PercentageMarketChange, 2)</td>
                        <td>@Math.Round(quote.FiftyDayAveragePrice, 2)</td>
                        <td>@quote.Volume</td>
                        <td>@quote.ExchangeName</td>
                    }
                }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>

            </tr>

        }
    </tbody>
</table>
