@model StockPortfolio.Models.PortfolioStock

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PortfolioStock</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Symbol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Symbol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InitialPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InitialPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AveragePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AveragePrice)

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StockCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StockCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InitialPurchaseDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InitialPurchaseDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
